on:
  push:
    tags:
      - "[0-9].[0-9]*"

jobs:
  release:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: cargo clippy
      - run: cargo build --release
      - uses: softprops/action-gh-release@v1
        with:
          fail_on_unmatched_files: false
          files: |
            target/release/aztail
            target/release/aztail.exe